h1{color:black;
    font-size:30px;
    text-align:center;
  }
p{text-align:center;}

a{text-decoration:none;}

.pr{
  font-size:30px;
  text-align:center;
  margin:30px;
  width:200px;

  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}

img{border-radius:50px;}

.option{
  background-color:lightskyblue;
  border-radius:25px;
  font-size:24px;
  text-align:center;
  margin:30px;
  width:200px;

  margin-top:10px;
  margin-left:auto;
  margin-right:auto;

}


#footer {

  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  font-size:12px;
  text-align: center;
  color:black;
  
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

  

  